body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #382e61;
    --header-bg: #8a2be2;
    
}

header {
    padding: 15px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header-bg)
}

#page-title {
    font-weight: bold;
    font-size: x-large;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-default {
    position: relative;
    border: 0;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    box-shadow: 0px 2px black;
}

.button-active {
    position: relative;
    border: 0;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(250, 247, 247);
    top: 2px;
}

.delete-button-default {
    position: relative;
    border: 0;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: red;
    color: white;
    box-shadow: 0px 2px black;
}

.delete-button-active {
    position: relative;
    border: 0;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: red;
    color: white;
    top: 2px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form > input {
    margin-bottom: 15px;
    background-color: rgb(217, 228, 231);
    border: 0px;
    box-shadow: 1px 1px;
}

form > label {
    color: white;
    font-weight: bolder;
}

dialog {
    background-color: #7a69be;
    border: 0;
    box-shadow: 0px 3px 6px 3px;
    border-radius: 5px;
}

dialog > h1 {
    color: white;
}

::backdrop {
    background-image: linear-gradient(black,black);
    opacity: 0.30;
  }


main {
    margin: 90px;
    display: flex;
    justify-content: first baseline;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 300px;
    height: 90px;
    padding: 10px;
    background-color: rgb(126, 108, 227);
    border-radius: 5px;
    box-shadow: 1px 1px ;
}
